body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

h1 {
    text-align: center;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="date"],
input[type="time"],
input[type="number"],
button {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    background-color: #5691d4;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #5691d4;
}

input[disabled] {
    background-color: #f1f1f1;
}

table {
    width:100%;
    border-collapse: collapse;
    margin-top: 10px;
}
th,
td{
  padding: 5;
  border: 1px solid;
  text-align: center;
}
th{
    background-color: #5691d4;
    color:aliceblue;
}
button{
     background-color: #5691d4;
     color:#f1f1f1;
     padding:5px;
     border:none;
}